@model RC.ADS.Data.Entity.AD_Article.Article

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Wechat/_LayoutWechatComeBack.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleIco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleIco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleIndex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleTypeEntity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleTypeEntity.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
