@model IEnumerable<RC.ADS.Data.Entity.AD_Article.Article>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Wechat/_LayoutWechatComeBack.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleIco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleTypeEntity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleIco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleTypeEntity.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
