@model RC.ADS.Data.Entity.AD_Article.Article

@{
    ViewData["Title"] = "文章删除";
}

<h2>@ViewData["Title"]</h2>

<h3>确认删除该文章吗?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleIco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleIco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleIndex)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-action="Index">返回列表页</a>
    </form>
</div>
