@model IEnumerable<RC.ADS.Data.Entity.AD_Article.Article>

@{
    ViewData["Title"] = "文章列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">添加</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                文章名称
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ArticleIco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ArticleIco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.Id">查看</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
