@model RC.ADS.WebAPP.Models.WeChat.AccountInfoDto

@{
    ViewData["Title"] = "账户明细";
    Layout = "~/Views/Shared/Wechat/_LayoutWechatComeBack.cshtml";
}
<div class="weui_cells_title">账户明细列表</div>
<div class="weui_cells" style="color:#999;font-size:15px;">
    @foreach (var item in Model.AccountInfos)
    {

        var NewMoney = item.Money * 0.01;
        var afterMoney = item.AfterMoney * 0.01;
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>余额：<span>@afterMoney</span>元</p>
            </div>
            <div class="weui_cell_ft weui_media_desc">
                @if ((int)item.AccountInfoChangeTpye > 0)
                {
                    <span style="color:green">+@NewMoney 元</span>

                }
                else
                {
                    <span style="color:red">-@NewMoney 元</span>

                }
                <p>@item.CreateTime.ToString()</p>
            </div>
        </div>

    }
</div>
<p></p>
<div class="pager">
    <div class="pager-left">
        <div class="pager-first"><a asp-action="pageIndex" asp-controller="wechat" class="pager-nav">首页</a></div>
        <div class="pager-pre"><a asp-action="pageIndex" asp-controller="wechat" asp-route-pageIndex="@Model.PageIndex-1" class="pager-nav">上一页</a></div>
    </div>
    @{ var pageStr = $"{ Model.PageIndex}/{ Model.PageCount}";
        <div class="pager-cen">@pageStr</div>
    }
    <div class="pager-right">
        <div class="pager-next"><a asp-action="pageIndex" asp-controller="wechat" asp-route-pageIndex="@Model.PageIndex+1" class="pager-nav">下一页</a></div>
        <div class="pager-end"><a asp-action="pageIndex" asp-controller="wechat" asp-route-pageIndex="@Model.PageCount" class="pager-nav">尾页</a></div>
    </div>
</div>

 