@model IEnumerable<RC.ADS.Data.Entity.AD_Article.Article>

@{
    ViewData["Title"] = "Business";
    Layout = "~/Views/Shared/Wechat/_LayoutWechat.cshtml";
}
<div>
    <div class="weui_cells_title">业务&报价</div>

    <div class="weui_cells weui_grids grids-small">
        @foreach (var item in Model)
        {
            <a asp-controller="wechat" asp-action="ShowArticle" asp-route-id="@item.Id" class="grid">
                <div class="weui_grid_icon">
                    <img src="@item.ArticleIco" alt="">
                </div>
                <p class="weui_grid_label">
                    @item.ArticleName
                </p>
            </a>
            <a asp-controller="wechat" asp-action="ShowArticle" asp-route-id="@item.Id" class="grid">
                <div class="weui_grid_icon">
                    <img src="@item.ArticleIco" alt="">
                </div>
                <p class="weui_grid_label">
                    @item.ArticleName
                </p>
            </a>
            <a asp-controller="wechat" asp-action="ShowArticle" asp-route-id="@item.Id" class="grid">
                <div class="weui_grid_icon">
                    <img src="@item.ArticleIco" alt="">
                </div>
                <p class="weui_grid_label">
                    @item.ArticleName
                </p>
            </a>

         
        }
    </div>
</div>