@model RC.ADS.WebAPP.Models.WeChat.IndexVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Wechat/_LayoutWechat.cshtml";
}

<!--轮播图开始-->
<div class="slide" id="slide1">
    <ul>
        @foreach (var item in Model.Slideshows)
        {
            <li>
                <a href="#">
                    <img src="@item.ArticleImage" alt="">
                </a>
                <div class="slide-desc">@item.ArticleName</div>
            </li>
        }
    </ul>
    <div class="dot">
        @foreach (var item in Model.Slideshows)
        {
            <span></span>

        }
    </div>
</div>
<!--轮播图结束-->
<!--导航开始-->
<div class="weui_panel weui_panel_access">
    <div class="weui_grids">
        <a asp-controller="wechat" asp-action="CustomerService" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="@Model.About.ArticleImage" alt="">
            </div>
            <p class="weui_grid_label">
                客服
            </p>
        </a>

        <a asp-controller="wechat" asp-action="NoticeList" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="" alt="">
            </div>
            <p class="weui_grid_label">
                公告
            </p>
        </a>
        <a asp-controller="wechat" asp-action="SpecialOffersList" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="@Model.Notice.ArticleImage" alt="">
            </div>
            <p class="weui_grid_label">
                优惠
            </p>
        </a>
    </div>
</div>
<!--导航结束-->
<!--关于我们开始-->
<div class="weui_cells_title">联盟简介</div>
<div class="weui_panel weui_panel_access">
    <div class="weui_panel_bd">
        @Html.Raw(Model.About.ArticleContent)
    </div>
</div>
<!--关于我们结束-->



@section Scripts{
    <script src="~/js/weui/swipe.js"></script>
    <script>
        $(function () {
            $('#slide1').swipeSlide({
                autoSwipe: true,//自动切换默认是
                speed: 3000,//速度默认4000
                continuousScroll: true,//默认否
                transitionType: 'cubic-bezier(0.22, 0.69, 0.72, 0.88)',//过渡动画linear/ease/ease-in/ease-out/ease-in-out/cubic-bezier
                lazyLoad: true,//懒加载默认否
                firstCallback: function (i, sum, me) {
                    me.find('.dot').children().first().addClass('cur');
                },
                callback: function (i, sum, me) {
                    me.find('.dot').children().eq(i).addClass('cur').siblings().removeClass('cur');
                }
            });

            $('#slide2').swipeSlide({
                autoSwipe: true,//自动切换默认是
                speed: 3000,//速度默认4000
                continuousScroll: true,//默认否
                transitionType: 'cubic-bezier(0.22, 0.69, 0.72, 0.88)',//过渡动画linear/ease/ease-in/ease-out/ease-in-out/cubic-bezier
                lazyLoad: true,//懒加载默认否
                firstCallback: function (i, sum, me) {
                    me.find('.dot').children().first().addClass('cur');
                },
                callback: function (i, sum, me) {
                    me.find('.dot').children().eq(i).addClass('cur').siblings().removeClass('cur');
                }
            });
            $('#slide3').swipeSlide({
                autoSwipe: true,//自动切换默认是
                speed: 3000,//速度默认4000
                continuousScroll: true,//默认否
                transitionType: 'ease-in'
            });


        });

    </script>
}
